.navBar li {
  font-size: 6rem;
  list-style: none;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  color: black;
  margin-bottom: 2rem;
  padding: 1.5rem 5rem 2rem 2rem;
}

.navBar ul {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.navBar ul li {
  padding: 2rem;
}

.navBar button {
  background: rgba(246, 246, 247, 0);
  border: none;
  color: white;
  padding: 0.4rem 0.5rem;
  padding: 0px 20px;
}

.navBar button:hover {
  /* background: steelblue;
  color: rgb(255, 255, 255); */
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 12px;
}

.navBar button:focus {
  background: steelblue;
  color: rgb(255, 255, 255);
  border-radius: 12px;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
