@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Kanit:wght@200&display=swap");

html {
  box-sizing: border-box;
  background-color: black;
}
.homePageDiv {
  background-image: url("../src/components/BackgroundImgs/tobias-roder-bZSapOQA_OU-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homePageDiv h1 {
  font-size: 4rem;
  margin-left: 6rem;
  margin-top: 2rem;
  /* font-family: "Staatliches", cursive; */
  /* font-family: "Oxygen", sans-serif; */
  /* font-family: "Secular One", sans-serif; */
  font-family: "Kanit", sans-serif;
}
.homePageDiv h2 {
  font-size: 3rem;
  margin-left: 6rem;
  margin-bottom: 1rem;
  /* color: #c4b7b2; */
  color: white;
}

.container-0 {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.button-align {
  align-items: center;
}
.btn-primary {
  margin-top: 5px;
  margin-bottom: 20px;
}
.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}
.bodyImg {
  background-color: black;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Jura", sans-serif;

  color: white;
  font-weight: 300;
}
.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 100vh; */
}
.about-me-title {
  font-size: x-large;
  align-self: center;
}
.about-me-img {
  border-radius: 50%;
  max-height: 15rem;
  max-width: 15rem;
  src: url(../src/components/AboutMe/20190119_142756.jpg);
  margin: 4rem;
}

.about-me-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.icons {
  font-size: 5.5rem;
  margin: 1rem;
}
.allIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconsRow {
  display: flex;
  flex-direction: row;
}
.singleTech {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 3rem;
  align-items: center;
}
.middleTech {
  display: flex;
  font-size: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-me-history {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.about-me-para {
  margin: 5rem 2rem 4rem 2rem;
  font-size: 2.5rem;
  text-align: revert;
}
.nav li {
  list-style: none;
  /* display: inline; */
  margin-right: 1rem;
}
#navbar {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  width: 100%;
}

/* .nav li :hover {
  color: rgba(170, 235, 243, 0.952);
  background-color: transparent;
  transition: background-color 0.15s, font-size 0.15s;
  font-size: 4rem;
} */
nav a {
  color: black;
  text-decoration: none;
  font-size: large;
}
.heading-name {
  border-bottom: black;
  border-bottom: solid;
  border-bottom-width: 0.01rem;
  border-bottom-style: solid;
  margin-bottom: 0.25rem;
  margin-top: 0;
  padding-top: 2rem;
  padding-left: 3rem;
  font-weight: 300;
  font-size: x-large;
}
.heading-title {
  margin-top: 0.25rem;
  text-align: end;
  font-size: x-large;
  font-weight: 200;
}
.about-me-text {
  display: flex;
  font-weight: 400;
  font-size: 1.8rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer {
  /* 
  margin-top: auto;
  /* position: absolute; */
  /* left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  bottom: 0; */
  width: 100%;
  font-size: 5rem;
  text-align: center;
}
.footer a :hover {
  color: rgba(170, 235, 243, 0.952);
  background-color: transparent;
  transition: background-color 0.15s;
}
.footer ul {
  padding-left: 0;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
}
.footer li {
  display: inline;
}

.footer a {
  text-decoration: none;
  color: white;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-size: 4rem;
}
.projects-title {
  text-align: center;
  font-size: large;
}
.gitHubProjLink {
  font-size: 3rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  /* background-image: url("../src/components/BackgroundImgs/good-free-photos-bfempytLlJI-unsplash.jpg"); */
  /* background-size: cover; */
  background-color: black;
}
.contact-title {
  text-align: center;
  font-size: 6rem;
}
.projects {
  margin-top: 2rem;
}
.img {
  height: auto;
  max-width: 40rem;
}

.resumePics {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.form {
  color: black;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
input[type="text"],
input[type="email"],
select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  font-size: medium;
}
#message {
  width: 25%;

  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  font-size: large;
}
/* Style the submit button */
input[type="submit"] {
  width: 100%;
  background-color: #04aa6d;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Add a background color to the submit button on mouse-over */
input[type="submit"]:hover {
  background-color: #45a049;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: medium;
  color: rgba(0, 0, 0, 0.8);
}
.form-text {
  font-size: medium;
}
.submit {
  font-size: large;
  background-color: #6b6963;
}
.submit:hover {
  background-color: #45c258;
}
.projectsMainCard {
  display: flex;
  overflow-x: scroll;
  max-height: 90vh;
  background: #53237278;
  border: 1px solid rgb(0 0 0 / 80%);
  background-color: black;
  align-items: flex-start;
}
.video {
  margin-top: 0;
  width: 500px;
  height: 500px;
  max-width: 100%;
}

.singleProject {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.singleProject :hover {
  cursor: pointer;
}
.backButton {
  align-self: flex-end;
  width: 8rem;
  height: 3rem;
  font-size: 2rem;
  margin-right: 1.5rem;
  background-color: rgba(128, 126, 117, 0.795);
  color: white;
  border-radius: 2rem;
}
.backButton:hover {
  background-color: white;
  color: black;
}
.projectsPage {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.projectLists {
  display: flex;
  flex-direction: column;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 2.5rem;
  /* background: #176e92ba; */
  /* background: #4e4b4bba; */
  background: black;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 2rem;
}
.projectContainer h1 {
  font-size: 5rem;
}
.projectContainer p {
  font-size: 3rem;
}
.projectContainer li {
  list-style: none;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.projectImg {
  max-height: 75vh;
  height: auto;
  padding: 1rem;
}
.projectButton {
  border: 1px solid black;
  font-size: 2rem;
  border-radius: 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #66645d;
  color: white;
  padding: 1rem;
}
.projectButton:hover {
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 600px) {
  .body {
    width: 100%;
    padding: 2.5rem;
  }
  .bodyImg {
    background-size: cover;
    background-color: black;
  }

  element.style {
    width: 100%;
  }
  .homePageDiv {
    background: black;
    max-width: 100%;
  }
  .homePageDiv h1 {
    font-size: 3.5rem;
    padding: 0;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
  }
  .homePageDiv h2 {
    font-size: 3rem;
    padding: 0;
    margin: auto;
    text-align: end;
  }
  .iconsRow {
    display: flex;
    flex-direction: column;
  }
  input[type="text"],
  input[type="email"],
  select {
    width: 90%;
  }
  #message {
    width: 90%;
  }
  .projectsMainCard {
    flex-direction: column;
    max-width: 100vw;
    align-items: center;
  }
  .projectImg {
    max-width: 100%;
  }
  .projectButton {
    align-items: center;
  }
  .singleTech {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin: 2rem;
    align-items: center;
  }
  .middleTech {
    font-size: 2rem;
    margin: 2rem;
  }
  .backButton {
    margin-top: 1rem;
  }
  .websiteDisplay {
    display: none;
    /* max-width: 90%; */
  }
  .form {
    margin-top: 0;
  }
  .contact-title {
    margin-top: 0;
  }
  .resumePreview {
    display: none;
  }
  .resumePictures {
    width: 100%;
    height: auto;
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem;
  }
  .mobileResume {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .projectContainer {
    margin: 1rem;
  }
  .projectContainer h1 {
    text-align: center;
  }
}
@media only screen and (min-width: 1000px) {
  .body {
    width: 100vw;
    padding: 2.5rem;
  }
  .bodyImg {
    background-size: cover;
    background-color: black;
  }

  .about-me-title {
    font-size: 5rem;
  }
  .about-me-img {
    max-height: 20rem;
    max-width: 20rem;
  }
  .heading-name {
    font-size: 5rem;
    padding-top: 2rem;
    padding-left: 3rem;
    font-weight: 300;
  }
  .heading-title {
    font-size: 3rem;
    font-weight: 400;
    padding-right: 3rem;
  }
  .about-me-text {
    font-weight: 400;
    font-size: 3rem;
  }

  .contact-title {
    font-size: 6rem;
    margin-bottom: 0;
  }
  .contact {
    width: 100vw;
  }
  nav a {
    font-size: 2.5rem;
    margin-left: 5rem;
  }
  footer a {
    font-size: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .websiteDisplay {
    width: 90vw;
    height: 100vh;
  }
  .resumePreview {
    width: 70vw;
    height: 100vh;
    margin-top: 1rem;
  }
  .middleTech {
    display: none;
  }
  .mobileResume {
    display: none;
  }
  .resumePictures {
    display: none;
  }
}
